:root {
    --time-bluedark: #19647e;
    --time-blue: #add9f4;
    --time-black: #02020a;
    --time-orange: #f79256;
    --time-grey: #e3dfde;
    
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 95%;
    }
}
@media (min-width: 2000px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1920px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

body {
    margin-bottom: 60px;
    background-color: var(--time-black);
    color: var(--time-grey);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 90%;
    box-sizing: border-box;
    color: var(--time-black);
}

    .timeline:before {
        content: '';
        position: absolute;
        left: 50%;
        width: 2px;
        height: 100%;
        background: var(--time-orange);
    }

    .timeline ul {
        padding: 0;
        margin: 0;
    }

        .timeline ul li {
            list-style: none;
            position: relative;
            width: 50%;
            padding: 20px 40px;
            box-sizing: border-box;
        }

            .timeline ul li:nth-child(odd) {
                float: left;
                text-align: right;
                clear: both;
            }

            .timeline ul li:nth-child(even) {
                float: right;
                text-align: left;
                clear: both;
            }

.content {
    padding-bottom: 0;
    background-color: var(--time-blue);
    border: 2px solid var(--time-blue);
    border-radius: 6px;
    box-shadow: 0 0 2px 2px var(--time-blue);
    text-align: justify;
}

.content-body {
    margin: 0;
    padding: 12px;
}

.content-div {
    padding: 2px 12px;
    display: flex; 
}
.content-div i {
    padding-top: 3px;
 }

.content-div p  {
    padding: 0 0 0 4px!important;
}


.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 40px;
    right: -6px;
    background-color: var(--time-black);
    border-radius: 50%;
    box-shadow: 0 0 4px 4px var(--time-orange);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 40px;
    left: -4px;
    background-color: var(--time-black);
    border-radius: 50%;
    box-shadow: 0 0 4px 4px var(--time-orange);
}

.timeline ul li h3 {
    padding: 8px;
    margin: 0;
    background-color: var(--time-bluedark);
    border-radius: 6px 6px 0 0;
    color: #fff;
    font-weight: 500;
}

.timeline ul li p {
    margin: 0 0 0;
    padding: 12px;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 28px;
    left: 105%;
    margin: 0;
    width: 25%;
    padding: 8px 16px;
    background-color: var(--time-grey);
    color: var(--time-black);
    border-radius: 6px;
    box-shadow: 0 0 3px 3px var(--time-blue);
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 28px;
    left: -30%;
    margin: 0;
    width: 25%;
    padding: 8px 16px;
    background-color: var(--time-grey);
    color: #000;
    border-radius: 6px;
    box-shadow: 0 0 3px 3px var(--time-blue);
}

@media(max-width:2000px) {
    .timeline {
        width: 100%;
    }
}

@media(max-width:850px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    .timeline:before {
        left: 20px;
        height: 100%;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

        .timeline ul li:nth-child(odd):before,
        .timeline ul li:nth-child(even):before {
            top: -18px;
            left: 16px;
        }

        .timeline ul li:nth-child(odd) .time,
        .timeline ul li:nth-child(even) .time {
            top: -30px;
            left: 50px;
            right: inherit;
        }
}