@page
@model IndexModel
@{
    ViewData["Title"] = "Timeline";
}

<div class="text-center">

    <h1>Quantum mechanics timeline</h1>
    <div class="timeline">
        <ul>
            <li class="ae1">
                <div class="content a1" id="a1">
                    <h3>Einsteins "Annus mirabilis"</h3>
                    <p class="content-ingress">
                        I 1905 publiserte Albert Einstein flere artikler som skulle vise seg å ha stor betydning for fysikken og for vår forståelse av universet. Artiklene ble publisert i det tyske vitenskapelige tidsskriftet "Annalen der Physik".
                    </p>
                    <div class="content-body">
                    <div class="content-div">
                        <i class="fa-regular fa-file-lines" aria-hidden="true"></i>
                        <p>
                            "Eine neue Bestimmung der Moleküldimensionen"<br>
                            (En ny bestemmelse av molekyldimensjonene).<br>
                            Der Einstein foreslo en ny metode for å bestemme størrelsen på molekyler ved å bruke Brownsk bevegelse. Publisert 30. mai 1905.
                        </p>
                    </div>
                    <div class="content-div">
                        <i class="fa-regular fa-file-lines" aria-hidden="true"></i>
                        <p>
                            "Zur Elektrodynamik bewegter Körper"<br>
                            (Om elektrodynamikken for bevegelige kropper).<br>
                            Der Einstein foreslo den såkalte spesielle relativitetsteorien, som innebærer at tid og rom er relativt og at lys alltid reiser med samme hastighet uavhengig av hvor man befinner seg i universet. Publisert 30. juni 1905.
                        </p>
                    </div>
                    <div class="content-div">
                        <i class="fa-regular fa-file-lines" aria-hidden="true"></i>
                        <p>
                            "Eine Theorie der Photochemischen Reaktionen"<br>
                            (En teori om fotokjemiske reaksjoner).<br>
                            Der Einstein viste at lys kan overføre energi til kjemiske reaksjoner, noe som senere ble bekreftet av eksperimenter. Publisert 6. september 1905.
                        </p>
                    </div>
                    <div class="content-div">
                        <i class="fa-regular fa-file-lines" aria-hidden="true"></i>
                        <p>
                            "Über einen die Erzeugung und Verwandlung des Lichtes betreffenden heuristischen Gesichtspunkt"<br>
                            (Om en heuristisk betraktning som gjelder generering og forvandling av lys).<br>
                            Der Einstein foreslo at lys kan oppfattes både som partikler og som bølger, som senere ble bekreftet av eksperimenter. Publisert 17. december 1905.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="time">
                    <h4>1905 - Mai til desember</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
                <div class="time">
                    <h4>February 2018</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
                <div class="time">
                    <h4>March 2018</h4>
                </div>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>

</div>
