@page
@model TimelineModel
@{

}

<div class="text-center">
    <h1>Om kvantemekanikk og andre oppdagelser</h1>
    <div class="timeline">
        <ul>

        </ul>
        <div style="clear:both;"></div>
    </div>
</div>